
.addNotecontainer{
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 20px;
}
.inpcontainer{
    width: 40vw;
    height: 60vh;
}
#textarea{
    height: 200px;
}
#btn{
    height: 32px;
    background-color: rgb(65, 62, 62);
}
.navcontainer{
    width: 100vw;
    position: fixed;
    top: 2%;
}