#container{
    background-color: grey;
    background-image: url("https://www.shutterstock.com/image-photo/rough-brick-wall-260nw-332993660.jpg");
    background-size: cover;

    height: 120vh;
}


.navcontainer{
    background-color: rgb(44, 41, 41);
    padding: 10px;
}
.spanel{
    margin-right: 50px;
    padding: 10px;
    background-color: rgb(95, 90, 90);
    color: white;
    border-radius: 4px;
}
#searchBar{
    width: 80vw;
    padding-left: 100px;
    margin-left: 2em;
    margin-top: 56px;
    border-radius: 12px;
    border: 0px;
    height: 32px;
}
.card{
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 6px;
    margin-left: 35px;
    margin-right: 35px;
}
.cardcont{
    width: 32vw;
    height: 60vh;
    position: fixed;
    top: 20%;
    left: 30%;
    background-color: white;
    border: 6px solid lightgrey;
    color: rgb(26, 128, 162);
    padding: 10px;
    padding-left: 40px;
}