/* body{
    background-color: blue;
} */
.container{
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
}
.form{
    background-color: white;
    padding: 5%;
    border-radius: 30px;
    width: 32vw;
   

}
h3{
    font-size: 24px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
input{
    height: 28px;
    width: 28vw;
}
button{
    width: 28vw;
    height: 34px;
    background-color: blue;
    color: white;
    border: 0px;
    margin-bottom: 8px;
    border-radius: 4px;
    margin-top: 8px;
    font-weight: bold;
}
